</h1><%= "#{pluralize(@users.count, "user")}" %></h1>

<table class = "pure-table pure-table-bordered">
  <thead>
    <tr>
      <td>Name</td>
      <td>Email</td>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to "#{user.name}", user_url(user) %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to('New User', new_user_path) %></p>