<% content_for :title, "Users" %>

<div class="page-header">
    <h1><%= @user.name %></h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    User ID <b><%= @user.id %></b>
    <%= link_to edit_user_path(@user), title: "Edit User" do %>
        <i data-toggle="tooltip" data-placement="right" title="Edit user information" class="glyphicon glyphicon-edit"></i>
    <% end %>
  </div>
  <div class="panel-body">
    <%= @user.email %>
  </div>
</div>
