<h1>Welcome to Pterodact Learning Management System and Occasional Accidental Destroyer of Worlds</h1>

<h2>You can see ...</h2>
<ul>
    <li><%= link_to 'Courses', courses_url %></li>
    <li><%= link_to 'Students', students_url %></li>
    <li><%= link_to 'Users', users_url %></li>
    <li><%= link_to 'Sign In', sign_in_url %></li>
</ul>
    